.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0 10px rgba(0, 0 , 0 , 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    color: #EDCAA7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-nav-items {
    display: flex;
    flex-direction: column;
}

.top-nav-items li {
    display: flex;
    justify-content: center;
}

.top-nav-items a {
    text-decoration: none;
    color: #EDCAA7;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.bottom-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.bottom-nav-items a{
    text-decoration: none;
    color: #EDCAA7;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav-logo-icon {
    width: 1.6rem;
    height: auto;
}

.top-nav-items a:hover, .bottom-nav-items a:hover {
    opacity: 0.7;
}