#mental-hygiene-main {
  margin: 3rem auto;
}

#mental-hygiene-main h2 {
  text-align: center;
}

#mental-hygiene-main .card-header {
  background: #edcaa7;
  color: white;
  outline-color: #988282;
  font-size: 18px;
}

#mental-hygiene-main .card-header:hover {
  background: #988282;
  color: white;
}

#mental-hygiene-main .card-body {
  background: white;
}

.card-body {
  font-size: 18px;
  color: #726363;
}

p {
  font-size: 18px;
  color: #726363;
}
