/* * {
  outline: 1px dotted black;
} */

.welcomePage {
    margin: 0;
    background-color: white;
    background-image: url(/images/Doorman_with_blob.png);
    background-position: right;
  
    position: fixed
  }
  
  .container {
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    min-height: 100vh;
    background-color: white;
  }
  
  nav {
    height: 100px;
    width: 100%;
    background-color: #edcaa7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav > * {
    margin: 20px;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    background-image: url(/images/Mind_Passage_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: auto;
  }
  
  .hero {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    position: relative;
  }
  
  .loginWelcomeButton {
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 25px;
    background-image: url(/images/Login_Button.png);
  }
  .newUserButton {
    position: absolute;
    bottom: 15px;
    left: 25px;
    padding: 25px;
    background-image: url(/images/NewUser.png);
  }
  .signUpButton {
    position: absolute;
    bottom: 15px;
    left: 25px;
    padding: 25px;
    background-image: url(/images/SignUp_Button.png);
  }
  .section2 {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .galleryItem {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* * {
  outline: 1px dotted black;
} */

.welcomePage {
    margin: 0;
    background-color: white;
    background-image: url(/images/Doorman_with_blob.png);
    background-position: right;
  
    position: fixed
  }
  
  .container {
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    min-height: 100vh;
    background-color: white;
  }
  
  nav {
    height: 100px;
    width: 100%;
    background-color: #edcaa7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav > * {
    margin: 20px;
  }
  
  .logo {
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin-top: 120pt;
    margin-left: 75pt;
  }
  
  .hero {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    position: relative;
  }
  
  .loginWelcomeButton {
    position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 25px;
    background-image: url(./Login_Button.png);
  }
  .newUserButton {
    position: absolute;
    bottom: 15px;
    left: 25px;
    padding: 25px;
    background-image: url(./NewUser.png);
  }
  .signUpButton {
    position: absolute;
    bottom: 15px;
    left: 25px;
    padding: 25px;
    background-image: url(./SignUp_Button.png);
  }
  .section2 {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .galleryItem {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  