.mainHome {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
}

.quote {
  background-position: center;

  margin-top: 100px;
}
.grid {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200pt;
}

.container {
  margin-left: 215pt;
  margin-top: 50pt;
}

.container2 {
  margin-right: 215pt;
  margin-top: 50pt;
}

.find {
  margin-bottom: 15pt;
}

.find:hover {
  opacity: 0.8;
}

.track {
  margin-bottom: 15pt;
}

.track:hover {
  opacity: 0.8;
}

.mental:hover {
  opacity: 0.8;
}

.profile {
  margin-bottom: 10pt;
}

.profile:hover {
  opacity: 0.8;
}

.journalButton:hover {
  opacity: 0.8;
}

/* need help with this tomorrow */
.cory {
  background-color: #edcaa7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 2rem;
  background-image: url('/NEW_Cory_footer.svg');
  background-position: bottom;
  margin-bottom: 0px;
}
