.lacasita {
  display: flex;
  background-image: url('./HomePage.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right bottom;
}
.contain {
  display: flex;
  flex-direction: row;
  margin: 0px;
  background-position: left;
  max-width: 600px;
  /* max-width: 55em;
  line-height: 1.5; */
  padding: 4em 2em;
}

.quote {
  background-position: left;
  justify-content: flex-start;
  align-items: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #edcaa7;
  margin-left: 145px;
  margin-top: 80px;
  max-width: 600px;
  margin-bottom: 0px;
}
/* .grid {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200pt;
} */

.container {
  margin-left: 75pt;
  margin-top: 10pt;
}

.container2 {
  margin-right: 215pt;
  margin-top: 10pt;
}

.find {
  margin-bottom: 13pt;
  width: 70%;
}

.find:hover {
  opacity: 0.8;
}

.track {
  margin-bottom: 13pt;
}

.track:hover {
  opacity: 0.8;
}

.mental:hover {
  opacity: 0.8;
}

.profile {
  margin-bottom: 10pt;
}

.profile:hover {
  opacity: 0.8;
}

.journalButton:hover {
  opacity: 0.8;
}

/* need help with this tomorrow */
.cory {
  background-color: #edcaa7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 2rem;
  background-image: url('/NEW_Cory_footer.svg');
  background-position: bottom;
  margin-bottom: 0px;
}
