* {
    margin: 0;
    padding: 0;
}


body{ 
    font-family: sans-serif;
}

div.nav-logo-icon {
    width: 10rem;
    height: auto;
}

.nav-logo-icon:hover {
    opacity: 0.8;
}

.header {
    width: 100%;
}

.navigation {
  background-color: #EDCAA7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
}

.back-button {
    width: 2rem;
}

@media only screen and (max-device-width : 375px) {
    .navigation {
        padding: 1rem 1.5rem;
        text-transform: uppercase;
      }

      div.nav-logo-icon {
        width: 10rem;
        height: auto;
    }

    .back-button {
        width: 1.4rem;
    }
}

