#signupMain {
  margin: 3rem auto;
}

#signupMain h1 {
  color: white;
}

#save-changes.btn.btn-primary {
  color: #edcaa7;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 2.5rem;
  margin: 0.5rem 0;
  width: 12rem;
  border: none;
}
#save-changes.btn.btn-primary:hover {
  color: white;
  background-color: #988282;
}

#cancel.btn.btn-primary {
  color: white;
  background-color: #edcaa7;
  padding: 0.5rem 2rem;
  border-radius: 2.5rem;
  margin: 0.5rem 0;
  width: 12rem;
  border: 1px solid white;
}
#cancel.btn.btn-primary:hover {
  color: white;
  background-color: #988282;
}

.signupMain.container .form-control {
  margin-top: 0;
}
