.mainPR {
  width: 90%;
  background-color: #edcaa7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  line-height: 1.5;
  padding: 4em 2em;
  font-family: 'ITC Avant Garde Gothic Std Bold', 'Helvetica', 'Arial', sans-serif;
  margin: 3rem auto;
}

.mainPR.container h1 {
  color: white;
}

.form-group input.form-control {
  margin: 0;
}

div.form-group{
  margin-top: 2rem;
}

#resetpw-form-button.btn.btn-primary {
  display: flex;
  align-self: center;
  margin: 2rem auto;
}

.swal-button {
  background-color: #edcaa7;
  color: white;
}

.swal-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: bold;
  color: #edcaa7;
}

.swal-modal {
  border-radius: 25px;
}

.swal-button--confirm {
  background-color: #edcaa7;
}

.swal-button--confirm:hover {
  color: white;
  background-color: #988282;
  border-color: white;
}

@media only screen and (max-device-width: 375px) {
  .mainPR {
    margin: 3rem auto;
    width: 90%;
  }

  .mainPR.container h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-device-width: 414px) {
  .mainPR {
    margin: 3rem auto;
    width: 90%;
  }

  .mainPR.container h1 {
    font-size: 2rem;
  }
}
