.mainPR {
  background-color: #edcaa7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  max-width: 55em;
  line-height: 1.5;
  padding: 4em 2em;
  font-family: 'ITC Avant Garde Gothic Std', 'Helvetica', 'Arial', sans-serif;
}
@media only screen and (max-device-width: 375px) {
  .signupMain {
    margin: 3rem auto;
    width: 90%;
  }
}
@media only screen and (max-device-width: 414px) {
  .signupMain {
    margin: 3rem auto;
    width: 90%;
  }
}
